<launch>
  <node
    pkg="haws"
    type="ros_test_input.py"
    name="Human_Input"
    required="true"
  />
  <node
	pkg="haws"
	type="ros_robotic_agent.py"
	name="Robotic_Agent"
  />
  <node
    pkg="haws"
    type="ros_gui.py"
    name="Gui"
  />
  <node
	pkg="haws"
	type="ros_dift.py"
	name="Dift"
  />
</launch>
